body {
    font-family: 'Trade Winds', cursive;
    background-image: url("../images/startpage.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    color: whitesmoke;
}

.container {
    background-color: lightseagreen;
    font-family: 'Trade Winds';    
}

.hanging {
    justify-content: center;
}

#box {
    background-color: whitesmoke;
    opacity: 50%;
    width: 300px;
    height: 300px;
    margin: 10px;
    color: rgb(192, 30, 30);
    padding: 25px 30px 10px;
    border-style: ridge;
    border-width: 2px;
    border-color: black;
    text-align: center;
}

#picture {
    padding: 0;
    margin: 10px auto;
    border-radius: 10px;
    height: 300px;
    width: auto;
    max-width: 100%;
}

#newWord {
    background-color: crimson;
    border-radius: 5px;
    border-color: black;
    border: 1px solid;
}